/* O que é uma regra css?*/
* {
    margin: 0;
    padding: 0;
}

body {    
    height: 100vh;
    color: white;
}

:root {
    font-size: 62.5%; /*100% equivale a 16px por padrão no navegador. 62.5 vale 10px*/
}

body, input, button, textarea {
    font: 400 1.8rem/1 'Nunito', sans-serif; /*1.8rem/1 é o espaçamento entre linhas*/
}
